@import url("reset.css");
body {
    color: #3e606f;
    background: #d1dbbd;
    background: -webkit-linear-gradient(#d1dbbd, #fcfff5);
    background: -o-linear-gradient(#d1dbbd, #fcfff5);
    background: -moz-linear-gradient(#d1dbbd, #fcfff5);
    background: linear-gradient(#d1dbbd, #fcfff5);
    font: normal 18px/23px 'Roboto Condensed', sans-serif;
}


/*
==========================
	Header
==========================
*/

header {
    width: 920px;
    margin: 0 auto;
    padding: 20px 20px 13px 20px;
}

h1 {
    background: transparent url("images/logo.png") 0 0 no-repeat;
    float: left;
    font-size: 36px;
    font-weight: normal;
    color: #193441;
    padding: 55px 0 25px 115px;
}

nav {
    float: right;
    padding: 85px 0 0 0;
}

nav li {
    display: inline-block;
}

a {
    text-decoration: none;
    background: #fcfff5;
    color: #91aa9d;
    padding: 10px 40px 14px 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.active {
    background: #91aa9d;
    color: #fcfff5;
}

header:after {
    clear: both;
    content: "";
    display: block;
}


/*
==========================
	Main
==========================
*/

main {
    background: #ffffff;
    width: 960px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px #b5b5b5;
}

h2 {
    font-size: 32px;
    font-weight: normal;
    margin: 45px 0 30px 0;
}

figure {
	float: right;
	margin: 0 0 0px 35px;
}

main p {
	margin: 0 0 25px 0;
}


/*
==========================
	Footer
==========================
*/

footer {
    width: 960px;
    margin: 0 auto;
    font-size: 14px;
    padding: 17px 0 40px 0;
}
