@import url(reset.css);
body {
    font: normal 18px "Roboto Condensed", sans-serif;
    color: #3e606f;
    background: linear-gradient(to bottom, #d1dbbd, #fcfff5);
}

header {
    width: 920px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
}

header:after {
    content: "";
    clear: both;
    display: block;
}

h1 {
    background: transparent url("images/logo.png") 0 0 no-repeat;
    font-size: 36px;
    color: #193441;
    float: left;
    padding: 45px 0 20px 115px;
    font-weight: normal;
}

h2 {
    font-size: 32px;
    margin-top: 30px;
    font-weight: normal;
}

nav {
    float: right;
    padding: 75px 0 0 0;
}

nav ul {
    display: table-cell;
}

nav li {
    display: inline-block;
}

main {
    background: #ffffff;
    width: 960px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px #b5b5b5;
}

nav a {
    background: #fcfff5;
    display: block;
    color: #91aa9d;
    text-decoration: none;
    padding: 10px 40px 14px 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav a.active {
    color: #fcfff5;
    background: #91aa9d;
}

main p {
    margin-top: 20px;
}

figure {
	float: right;
	margin: 20px 0 0 35px;
}

main:after {
	content: "";
	display: block;
	clear: both;
}

footer {
	width: 960px;
	margin: 15px auto 40px auto;
	font-size: 14px;
}
