body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  width: 1000px;
  margin: 0 auto;
  padding: 75px 0 50px 0;
  color: #45494d;
  background: #2f2840 url("../images/bg_body.gif");
  display:block;
}

main {
  background: #ffffff;
  text-align: center;
  padding: 75px 0 0 0;
}

article {
  padding: 0 110px 100px 110px;
}

h1 {
  text-align: center;
  padding: 0 0 50px 0;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  color: #3e98b2;
}

footer {
  background: #e7e7e7;
  padding: 30px 0;
}

footer ul {
  text-align: center;
  margin: 0;
}

footer li {
  list-style: none;
  display: inline-block;
  padding: 0 62px;
}
